body{
    font-family: Exo,sans-serif;
    margin: 3em;
    border: 1px solid gray;
    padding: 2%;

}
h1{
    font-family: Merriweather,'Times New Roman', Times, serif;
    background-color:lightgrey;
}
h2{
    font-family: Merriweather, 'Times New Roman', Times, serif;
}
span.summer{
    color: orange;
}
span.new_item{
    color: red;
}
span.dishes{
    background-color: lightskyblue;
}